@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
body,
html {
    height: 100%;
}
body {
    display: grid;
    place-items: center;
    background-color: var(--very-dark-blue-main);
}
.card {
    --gap: 1.35rem;

    max-width: 360px;
    background-color: var(--very-dark-blue-card);
    border-radius: 15px;
    font-family: "Outfit";
    color: var(--soft-blue);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-inline: 1rem;
    box-shadow: 0 20px 12px 20px hsl(0 0% 0% / 0.05),
        0 20px 12px 40px hsl(0 0% 0% / 0.03);
}
.card-image {
    --border-radius: 10px;
}
.card-image img {
    width: 100%;
    border-radius: 10px;
}
.card-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.card-title {
    font-size: 1.4rem;
    font-size: clamp(1.3rem, 6vw, 1.4rem);
    color: white;
    font-weight: 600;
}
.card-description {
    font-size: 1.125rem;
    font-size: clamp(1rem, 4.5vw, 1.125rem);
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.4;
}
.card-price {
    color: var(--cyan);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1rem;
}
.card-time-left {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.span-container {
    display: flex;
    justify-content: space-between;
}
.card-author {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-end: 0.625rem;
}
.author-name {
    color: white;
}
.card hr {
    border: none;
    border-top: 1px solid var(--very-dark-blue-line);
    border-radius: 100vmax;
}
.avatar {
    max-width: 32px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

/* Active states */

.cursor-pointer {
    cursor: pointer;
}
.color-transition {
    transition: color 200ms ease;
}
.color-transition:hover {
    color: var(--cyan);
}
.card-image {
    position: relative;
    display: flex;
}
.card-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: cyan;
    opacity: 0;
    transition: opacity 200ms ease;
    border-radius: var(--border-radius);
    z-index: 10;
}
.card-image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    translate: -50% -50%;
    z-index: 11;
    background: url("images/icon-view.svg");
    transition: opacity 200ms ease;
    opacity: 0;
    
}
.card-image:hover::after {
    opacity: 0.5;
}
.card-image:hover::before{
    opacity: 1;
}